
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}

/* Page background color */
body {
    background-color: #C0C0C0;
}

/* Font */
p, h1, h2, h3, caption, title, table {
    font-family: "Arial Black", Gadget, sans-serif;
}

h1 {
    font-size: 4em;
    text-align: center;
}

h2 {
    font-size: 2.5em;
    text-align: center;
}

caption {
    font-size: 1.75em;
}

/* Tables */
table {
    margin: auto;
}

table, th, td {
    border: 1px solid black;
}

/* Introduction */
.intro {
    display: block;
    margin: auto;
    width: 70%;
}

/* Car Images */
.ss, .gt, .ta {
    display: block;
    margin: auto;
    width: 70%;
}

/* List of Car links */
ul, li, .links {
    text-align: center;
}